/* Template from Free CSS Templates                                 */
/* Customized to our need at the Department of Computer Engineering */

body {
	margin: 0;
	padding: 0;
	background: #FFFFFF;
}

body, th, td, input, textarea {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #00000F;
}

p, ol, ul {
	line-height: 150%;
	font-size: 12pt;
	font-weight: normal;	
	margin: 10px 10px 10px 20px;
}

a:hover {
	text-decoration: none;
	color: #0000FF;
}

/* Header */

#header {
	width: 960px;
	height: 100px;
	margin: 0 auto;
    background: #E6F2D3;

}

#logo {
	float: left;
	height: 100px;
	margin-left: 5px;
	margin-right: 20px;
/*	background: url(images/crest-new.gif) no-repeat left center; */
}

#logo h1 {
	margin: 0px 0px 0px 200px;
	padding: 3px 0 0 85px;
	letter-spacing: 4px;
	font-size: 3em;
	font-weight: bold;
	color: #000000;
}

#logo h1 a {
	color: #000000;
}

#logo p {
	margin: 10px 0px 0px 100px;
	padding: 5px 0 0 85px;
	font-size: 1.5em;
	font-weight: bold;
	letter-spacing: 2px;
}

/* Menu */

#menu {
	width: 962px;
	height: 25px;
	margin: 0 auto;
}

#menu ul {
	font-size: 13px;
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu li {
	display: block;
	float: left;
}

#menu a {
	display: block;
	float: left;
	height: 25px;
	padding: 0px 23px 0 23px;
	text-decoration: none;
	color: #000000;
}

#menu a:hover {
	color: #123456;
	background: #F1FBE2;
}

#menu .current_page_item a {
	font-weight: bold;
}

/* Page */

#page {
	width: 962px;
	margin: 0 auto;
	background: #FFFFFF url(images/img07.gif) repeat-y;
}

/* Content */

#content {
	float: right;
	width: 700px;
	padding: 11px 11px 0 5px;
	background: url(images/img09.gif) no-repeat; 
}

#content a {
	color: #FF8900;
}

#content h1 {
	font-size: 18pt;
}

.pagetitle {
	height: 33px;
	margin: 0;
	padding: 8px 0 0 15px;
/*	background:  #AAE74A;*/
	background: #DAF0DC;
	font-size: 1.4em;
	color: #000000;
}

#content h2 {
	font-size: 12pt;
        height: 20px;
        margin: 0;   
        padding: 4px 0 4px 15px;
        background:  #E6F2D3;
        color: #000000;        
	font-weight: normal;
}

#content h3 {
        font-size: 9pt;
        height: 12px;   
        margin: 0;      
        padding: 2px 0 5px 30px;
        background: #E6F2D3;
        color: #000000;
        font-weight: italics;
	align: right;
}

#content h4 {
        font-size: 9pt;
        height: 14px;   
        margin: 1px 0 1px 0;      
        padding: 2px 0 2px 30px;
        background: #E6F2D3;
        color: #000000;
        font-weight: italics;
	align: right;
}


.title {
	margin: 0;
	font-size: 2.4em;
	font-weight: normal;
}

.byline {
	margin: 0 0 20px 0;
}

.meta {
	border-top: 1px dotted #CCCCCC;
	text-align: right;
}

.meta .more, .meta .comments {
	padding-left: 15px;
	background: url(images/img14.gif) no-repeat left center;
}

/* Sidebar */

#sidebar {
	float: left;
	width: 230px;
	padding: 31px 5px 0px 11px;
	background: url(images/img08.gif) no-repeat;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	display: block;
	margin: 1px 10px 1px 10px;
}

#sidebar h2 {
	height: 33px;
	margin: 0;
	padding: 8px 0 0 15px;
	background: #DAF0DC; /* #AAE74A; */
	font-size: 14pt;
	color: #000000;
}

#sidebar a {
	display: block;
	text-decoration: none;
	padding: 5px 0px 5px 10px;
	color: #000000;
	font-weight: bold;
	background: #E6F2D3; 
}

#sidebar a:hover {	
        background: #DAF0DC;
	text-decoration: none;
}

/* Footer */

#footer {
	width: 962px;
	margin: 0 auto;
	padding: 30px 0;
	background: url(images/img10.gif) no-repeat;
}

#footer p {
	margin: 0;
	text-align: center;
	font-size: 8pt;
	letter-spacing: 1px;
	color: #000000;
}

#footer a {
	color: #000000;
	text-decoration: none;
}
