
body {
    background: url("../images/background.jpg");
    background-position:center center;
    background-attachment:scroll;
}

.ui-page {
    background: transparent;
}
.ui-content{
    background: transparent;
}
.ui-btn-inner{
    background-color: lightblue;
}

.thumbBox {
width: 90px;
float: left;
margin: 2px;

height:100px;
overflow: hidden;
border:#ddd dotted 1px;
text-align:center;
}

.thumbBox img{
    
    width: 80px;
    height:80px;
}

.categoryBox {
width: 90px;
display: inline-block;
vertical-align:top;
margin: 5px;

height:100px;
border:#ddd dotted 1px;
text-align:center;
text-decoration: "underline";
}

.removeButton{
background:url('images/remove.png') 0 0;
}

.resultTable td{
    padding-left: 15px;
    padding-right: 15px;

}

.resultTable td.total{
    padding: 15px;
}

.resultShopName{
    color:green;
    margin: 15px;
}

.resultShopName h3{
        margin: 3px;
}
.resultShopName h5{
        margin: 3px;
}

.resultDisplay{
    margin: 18px;
    background-color: lightblue;
}

.shopinglist{
    margin-left: 20px; 
}

.shopinglist td{
    padding-right: 22px;  
}

.total{
    margin: 15px;
}
.fixedHeader{
    width:100%;
    position:"fixed !important";
    top:0px;
}