
body{
    background-color: lightskyblue;
}

.thumbBox {
width: 90px;
float: left;
margin: 5px;

height:95px;
overflow: hidden;
border:#ddd dotted 1px;
text-align:center;
}

.thumbBox img{
    
    width: 60px;
    height:60px;
}

.removeButton{
background:url('images/remove.png') 0 0;
}

.resultTable td{
    padding: 15px;   
    color:green;
}

.resultShopName{
    color:green;
    margin: 3px;
}

.resultDisplay{
    margin: 18px;
}
