<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"> 
    <head>

        <title>Mobile Home</title> 
        <link rel="stylesheet" href="css/jquery.mobile-1.0b2.min.css" />
        <script type="text/javascript" src="js/jquery-1.6.2.min.js"></script>
        <script type="text/javascript" src="js/jquery.mobile-1.0b2.min.js"></script>
        <script type="text/javascript" charset="utf-8" src="js/cordova.js"></script>
        <script type='text/javascript' src='js/knockoutjs.js'></script>
        <script type="text/javascript" charset="utf-8" src="js/msslogin.js"></script> 
    </head> 

    <body> 

        <div data-role="page" data-theme="b">

            <div data-role="header" data-theme="b" data-icon="home">
                <h1>Add Iteam</h1><a data-theme="b" href="home.html" data-icon="home" data-role="button" rel="internal" data-iconpos="notext"></a>
                <a href="login.html" data-role="button" class="ui-btn-right" >Login</a>
            </div><!-- /header -->


            <div data-role="content" data-theme="b">        
                <!--Content start-->

                <br/>
                <br/>                
                <!--Login form start-->
                <form id="login"  method="post" data-ajax="false">

                    <div data-role="fieldcontain" class="ui-field-contain ui-body ui-br">
                        <label for="name" class="ui-input-text">Ad Title</label>
                        <input type="text" data-bind="value : Title" value="" id="name" name="name" class="ui-input-text ui-body-null ui-corner-all ui-shadow-inset ui-body-c">
                    </div>


                    <select name="select-native-1" id="select-native-1">
                        <option value="1">Categories</option>
                        <option value="2">Car</option>
                        <option value="3">Phone</option>
                        <option value="4">Food</option>
                    </select>
                    <select name="select-native-1" id="select-native-1">
                        <option value="1">Districs</option>
                        <option value="2">Ratnapura</option>
                        <option value="3">Colombo</option>
                        <option value="4">Kandy</option>
                    </select>


                    <div data-role="fieldcontain" class="ui-field-contain ui-body ui-br">

                        <label for="name" class="ui-input-text">Uplod Image</label>
                        <input type="file" name="pic" accept="image/*" class="ui-input-text ui-body-null ui-corner-all ui-shadow-inset ui-body-c">
                    </div>

                    <div data-role="fieldcontain" class="ui-field-contain ui-body ui-br">
                        <label for="textarea" class="ui-input-text">Description</label>
                        <textarea cols="40" data-bind="value : Description" rows="8" name="textarea" id="textarea" class="ui-input-text ui-body-null ui-corner-all ui-shadow-inset ui-body-c"></textarea>
                    </div>

                    <div data-role="fieldcontain" class="ui-field-contain ui-body ui-br">
                        <label for="name" class="ui-input-text">Quantity</label>
                        <input type="text" data-bind="value : Quantity" id="name" name="name" class="ui-input-text ui-body-null ui-corner-all ui-shadow-inset ui-body-c">
                    </div>

                    <div data-role="fieldcontain" class="ui-field-contain ui-body ui-br">
                        <label for="name" class="ui-input-text">Price (Rs)</label>
                        <input type="text" data-bind="value : Price" id="name" name="name" class="ui-input-text ui-body-null ui-corner-all ui-shadow-inset ui-body-c">
                    </div>

                    <div data-role="fieldcontain" class="ui-field-contain ui-body ui-br">
                        <label for="password">Telephone Number</label>
                        <input type="tel" data-bind="value : TelephoneNumber" name="password" id="password" value=""  class="ui-input-text ui-body-null ui-corner-all ui-shadow-inset ui-body-c"/>
                    </div>


                    <br /><br />

                    <div class="ui-block-b"><button data-theme="b" type="reset" class="ui-btn-hidden" aria-disabled="false">Add</button></div>

                    </fieldset>

                </form>
                <!-- /Login form end-->

                <br /><br />


                <!--Content end-->

            </div><!-- /page -->


            <script type="text/javascript">
                var bindings = 0;





                var editorModel = function() {
                    var self = this;
                    //self.items = ko.observableArray([]);
                    self.Quantity=ko.observable("50Kg");
                    self.Price=ko.observable("Rs.500");
                    self.TelephoneNumber=ko.observable("071-79326678");
                    self.Description=ko.observable("Description");
                    self.Title=ko.observable("Title");

                    self.save = function() {
                        console.log( ko.toJSON(modal));
                       //document.forms["sender"].submit();
                    };
                }

//----------------------------------------------
                var modal = new editorModel();
load();
                function load() {
                    ko.applyBindings(modal);
                }

             $(document).on("pageshow", function() {
                 console.log("page shown...........");
                 if (bindings < 1) {
                     bindings++;
                     console.log("Applying bindings");
                     load();
                 }
             });
             
  //--------------------------------------------------------------
            </script>

    </body>


</html>