<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<head>
<title>Home</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<meta name="keywords" content="Stream Videos Iphone web template, Andriod web template, Smartphone web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
<link href="css/slider.css" rel="stylesheet" type="text/css" media="all"/>
<script type="text/javascript" src="js/jquery-1.9.0.min.js"></script> 
<script type="text/javascript" src="js/jquery.nivo.slider.js"></script>

<script type="text/javascript">
    $(document).ready(function(){
        $('#slider').nivoSlider();
        //item list notify counter
        if(hasCookie('cItemList')){
            var count = getCookie('cItemList');
            $("#item_list_counter").text(count);
        }else{
            console.log("kks");
            initializeCookie();
        }
        
        
        function initializeCookie(){
            var count= 0;
            document.cookie = "cItemList=" + count;
        }
//        
        function hasCookie(cItemList){
            var name = cItemList + "=";
            var cArray = document.cookie.split(';');
            for(var c=0;c<cArray.length;c++){
                var c = cArray[c].trim();
                if (c.indexOf(name)==0){
                    return true;
                } 
            }
            return false;
        }
        
        function getCookie(cItemList){
            var cookieName = cItemList+"=";
            var cArray = document.cookie.split(';');
            for(var c=0;c<cArray.length;c++){
                var c = cArray[c].trim();
                if (c.indexOf(cookieName)==0){
                    return c.substring(cookieName.length,c.length);
                } 
            }
            return "";
        }
        
        
//        function setCookie(cname,cvalue){
//            document.cookie = cname + "=" + cvalue;
//        }
        
    });
    
    
    
    </script>
</head>
<body>
	<div class="header">
		 <div class="headertop_desc">
			<div class="wrap">
					<div class="account_desc">
						<ul>
							<li><a href="home.html">Home</a></li>
							<li><a href="signup.html">Register</a></li>
							<li><a href="login.html">Login</a></li>
							<li><a href="#">My Account</a></li>
							<li><a href="#">Contact</a></li>
						</ul>
					</div>
				<div class="clear"></div>
			</div>
	  	</div>
  	  		<div class="wrap">
				<div class="header_top">
					<div class="logo">
						<a href="index.html"><img src="images/logo.png" alt="" /></a>
					</div>
						<div class="header_top_right">
							<div class="cart">
			  	 				<div id="dd" class="wrapper-dropdown-3">
                                                                    <img src="images/cart.png" alt="" />
                                                                    <div class="noti_bubble"><span id="item_list_counter"></span></div>
                                                                </div>
						</div>											
					     	 <a href="AddList.html" class="right_bt" id="activator"><img src="images/search_icon.png" alt="" /></a>
					     	    <div class="box" id="box">
					        	   <div class="box_content">        					                         
					                <div class="box_content_center">
					                   <div class="form_content">
						                 <div class="search_box">
								     		<form>
								     			<input type="text" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}"><input type="submit" value="">
								     		</form>
								     	</div>
						                   <a class="boxclose" id="boxclose"><img src="images/button.png" alt="" /></a>
					                   </div>                
					                   <div class="clear"></div>
					                </div> 
					           </div>
					        </div>
						 <div class="clear"></div>
						  <script type="text/javascript">
								var $ = jQuery.noConflict();
									$(function() {
										$('#activator').click(function(){
												$('#box').animate({'top':'65px'},500);
										});
										$('#boxclose').click(function(){
												$('#box').animate({'top':'-400px'},500);
										});
										$('#activator_share').click(function(){
												$('#box_share').animate({'top':'65px'},500);
										});
										$('#boxclose_share').click(function(){
												$('#box_share').animate({'top':'-400px'},500);
										});
								
									});
									$(document).ready(function(){
									
									//Hide (Collapse) the toggle containers on load
									$(".toggle_container").hide(); 
									
									//Switch the "Open" and "Close" state per click then slide up/down (depending on open/close state)
									$(".trigger").click(function(){
										$(this).toggleClass("active").next().slideToggle("slow");
										return false; //Prevent the browser jump to the link anchor
									});
									
									});
								</script>
					</div>
						  <script type="text/javascript">
									function DropDown(el) {
										this.dd = el;
										this.initEvents();
									}
									DropDown.prototype = {
										initEvents : function() {
											var obj = this;
						
											obj.dd.on('click', function(event){
												$(this).toggleClass('active');
												event.stopPropagation();
											});	
										}
									}
						
									$(function() {
						
										var dd = new DropDown( $('#dd') );
						
										$(document).click(function() {
											// all dropdowns
											$('.wrapper-dropdown-3').removeClass('active');
										});
						
									});
					    </script>
			 <div class="clear"></div>
  		</div>     
				<div class="header_bottom">
					<div class="header_bottom_left">				
						<div class="categories">
								<div class="menu_container">
									 <p class="menu_head">categories<span class="plusminus">+</span></p>
										<div class="menu_body">
										   <div class="list">
											  <ul>
					                             <li><a href="#">All</a></li>
											      <li><a href="#">Vegitable</a></li>
											      <li><a href="#">Fruit</a></li>
											      <li><a href="#">English</a></li>
											     
					                         </ul>
									  </div>	
									</div>								
								</div>
								<script type="text/javascript">
									$(document).ready(function(){
										$(".menu_body").hide();
										//toggle the componenet with class menu_body
										$(".menu_head").click(function(){
											$(this).next(".menu_body").slideToggle(600); 
											var plusmin;
											plusmin = $(this).children(".plusminus").text();
											
											if( plusmin == '+')
											$(this).children(".plusminus").text('-');
											else
											$(this).children(".plusminus").text('+');
										});
									});
								</script>
						  </div>					
		  	         </div>
						    <div class="header_bottom_right">					 
						 	    <!------ Slider ------------>
								  <div class="slider">
							      	<div class="slider-wrapper theme-default">
							            <div id="slider" class="nivoSlider">
							                <img src="images/1.jpg" data-thumb="images/1.jpg" alt="" />
							                <img src="images/2.jpg" data-thumb="images/2.jpg" alt="" />
							                <img src="images/3.jpg" data-thumb="images/3.jpg" alt="" />
							                <img src="images/4.jpg" data-thumb="images/4.jpg" alt="" />
							                 <img src="images/5.jpg" data-thumb="images/5.jpg" alt="" />
							            </div>
							        </div>
						   		</div>
						<!------End Slider ------------>
			         </div>
			     <div class="clear"></div>
			</div>
   		</div>
   </div>
   <!------------End Header ------------>
  <div class="main">
  	<div class="wrap">
      <div class="content">
    	<div class="content_top">
    		<div class="heading">
    		<h3>Nearest Shops</h3>
    		</div>
    	</div>
	      <div class="section group">
				<div class="grid_1_of_2 images_1_of_2">
					 <a href="ShopDetail.html"><img src="images/shops/arpico.gif" alt="" /></a>
					 <h2><a href="ShopDetail.html">Kills Super</a></h2>
					<div class="price-details">
				       <div class="price-number">
							<p><span class="rupees">Nugegoda</span></p>
					    </div>
					       		<div class="add-cart">								
									<h4><a href="ShopDetail.html">View Shop</a></h4>
							     </div>
							 <div class="clear"></div>
					</div>					 
				</div>
				<div class="grid_1_of_2 images_1_of_2">
					 <a href="ShopDetail.html"><img src="images/shops/cargills.jpg" alt="" /></a>
					 <h2><a href="ShopDetail.html">Food city</a></h2>
					<div class="price-details">
				       <div class="price-number">
							<p><span class="rupees">Nawala</span></p>
					    </div>
					       		<div class="add-cart">								
									<h4><a href="ShopDetail.html">View Shop</a></h4>
							     </div>
							 <div class="clear"></div>
					</div>					 
				</div>
			</div>
	
			</div>
       </div>
  </div>

  
	</body>
</html>

