<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <title>Home</title> 
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0b2/jquery.mobile-1.0b2.min.css" />
 <script type='text/javascript' src='js/knockoutjs.js'></script>
	   <script src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
        <script src="http://code.jquery.com/mobile/1.0b2/jquery.mobile-1.0b2.min.js"></script>
        <script type="text/javascript" charset="utf-8" src="js/cordova.js"></script>
</head> 


<body> 

<div data-role="page" data-theme="b">

        <div data-role="header" data-theme="b" data-icon="home" id = "header">
                <h1>Home</h1><a data-theme="b" href="home.html" data-icon="home" data-role="button" rel="internal" data-iconpos="notext"></a>
				
        </div>

        
        <div data-role="content" data-theme="b" id="topics">  
			<a rel="external" href="search.html" data-role="button" data-icon="search"  >Search</a>
			<br/>
			<a rel="external" href="signUp.html" data-role="button" data-icon="info"  >Sign Up </a>
			<br/>
			<a rel="external" href="Editprofile.html" data-role="button" data-icon="arrow-u"  >Edit profile</a>
			<br/>
			
			
         </div>

        


</body>

        <script type="text/javascript" charset="utf-8" src="js/msslogin.js"></script>      
</html>