<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<!--
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
              <link rel="stylesheet" href="css/ShopingUI.css" />

    </head>
    <body>
        <div class="resultDisplay">
            <h3 class="resultShopName">Malitha Stores</h3>
            <h5 class="resultShopName">Rathnapura </h5>
            <table class ="resultTable">
                <tbody>
                    <tr >
                        <td>Carrot</td><td>5 kg</td><td>Rs 150/=</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>

-->
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head>
        <link rel="stylesheet" href="css/jquery.mobile-1.0b2.min.css" />
        <script type="text/javascript" src="js/jquery-1.6.2.min.js"></script>
        <script type="text/javascript" src="js/jquery.mobile-1.0b2.min.js"></script>
        <script type="text/javascript" charset="utf-8" src="js/cordova.js"></script>
        <script type='text/javascript' src='js/knockoutjs.js'></script>
                      <link rel="stylesheet" href="css/ShopingUI.css" />
</head> 


<body> 

<div data-role="page" data-theme="b">

        <div data-role="header" data-theme="b" data-icon="home" id = "header">
                <h1>Home</h1><a data-theme="b" href="home.html" data-icon="home" data-role="button" rel="internal" data-iconpos="notext"></a>
				
        </div>

        
        <div data-role="content" data-theme="b" id="topics">  
            <div class="resultDisplay">
                <h3 class="resultShopName">Malitha Stores</h3>
                <h5 class="resultShopName">Rathnapura </h5>
                <table class ="resultTable">
                    <tbody>
                        <tr >
                            <td>Carrot</td><td>5 kg</td><td>Rs 150/=</td>
                        </tr>
                    </tbody>
                </table>
            </div>
			
         </div>

        
</div>

</body>
  
</html>

