
<!DOCTYPE HTML>
<head>
    <title>Shop Detail</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <meta name="keywords" content="Stream Videos Iphone web template, Andriod web template, Smartphone web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>



    <link rel="stylesheet" href="css/ShopingUI.css" />
    <script type='text/javascript' src='js/knockoutjs.js'></script>
    <link rel="stylesheet" href="css/jquery.mobile-1.4.0.min.css" />
    <script type="text/javascript" src="js/jquery-1.9.0.min.js"></script> 
    <script type="text/javascript" src="js/jquery.mobile-1.4.0.min.js"></script> 
    <script src="js/init.js"></script>

    <script type="text/javascript" src="js/jquery.rater.packed.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="css/rater.css" media="screen" />

</head>
<body>
    <div class="header">
        <div class="headertop_desc">
            <div class="wrap">
                <div class="account_desc">
                    <ul>
                                <li><a href="home.html" rel="external">Home</a></li>
                                <li><a href="#" rel="external">Register</a></li>
                                <li><a href="#" rel="external">Login</a></li>
                                <li><a href="#" rel="external">My Account</a></li>
                                <li><a href="#" rel="external">Contact</a></li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="wrap">
            <div class="header_top">
                <div class="logo">
                    <a href="index.html"><img src="images/logo.png" alt="" /></a>
                </div>
                <div class="header_top_right">
                    <div class="cart">
                        <div id="dd" class="wrapper-dropdown-3">
                            <a href="#showlist">
                                    <img  src="images/cart.png" alt="" />
                                    <div class="noti_bubble"><span class="item_list_counter"></span></div>
                                    </a>
                        </div>
                    </div>											
                    <a href="AddList.html" class="right_bt" id="activator"><img src="images/search.png" alt="" /></a>
                    <div class="box" id="box">
                        <div class="box_content">        					                         
                            <div class="box_content_center">
                                <div class="form_content">
                                    <div class="search_box">
                                        <form>
                                            <input type="text" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {
                                                        this.value = 'Search';
                                                    }"><input type="submit" value="">
                                        </form>
                                    </div>
                                    <a class="boxclose" id="boxclose"><img src="images/button.png" alt="" /></a>
                                </div>                
                                <div class="clear"></div>
                            </div> 
                        </div>
                    </div>
                    <div class="clear"></div>
                    <script type="text/javascript">
                        var $ = jQuery.noConflict();
                        $(function() {
                        $('#activator').click(function(){
                        $('#box').animate({'top':'65px'},500);
                        });
                        $('#boxclose').click(function(){
                        $('#box').animate({'top':'-400px'},500);
                        });
                        $('#activator_share').click(function(){
                        $('#box_share').animate({'top':'65px'},500);
                        });
                        $('#boxclose_share').click(function(){
                        $('#box_share').animate({'top':'-400px'},500);
                        });

                        });
                        $(document).ready(function(){

                        //Hide (Collapse) the toggle containers on load
                        $(".toggle_container").hide(); 

                        //Switch the "Open" and "Close" state per click then slide up/down (depending on open/close state)
                        $(".trigger").click(function(){
                        $(this).toggleClass("active").next().slideToggle("slow");
                        return false; //Prevent the browser jump to the link anchor
                        });

                        });
                    </script>
                </div>
                <script type="text/javascript">
                    function DropDown(el) {
                    this.dd = el;
                    this.initEvents();
                    }
                    DropDown.prototype = {
                    initEvents : function() {
                    var obj = this;

                    obj.dd.on('click', function(event){
                    $(this).toggleClass('active');
                    event.stopPropagation();
                    });	
                    }
                    }

                    $(function() {

                    var dd = new DropDown( $('#dd') );

                    $(document).click(function() {
                    // all dropdowns
                    $('.wrapper-dropdown-3').removeClass('active');
                    });

                    });
                </script>
                <div class="clear"></div>
            </div>  
                <div class="header_bottom">
                    <div class="header_bottom_left">				
                        <div class="categories">
                            <div class="menu_container">
                                <p class="menu_head">categories<span class="plusminus">+</span></p>
                                <div class="menu_body">
                                    <div class="list">
                                        <ul>
                                        </ul>
                                    </div>	
                                </div>								
                            </div>
                        </div>					
                    </div>
                </div>
        </div>
    </div>
    <div class="main">
        <div class="wrap">


            <div class="content_top">
                <div class="heading">
                    <h3>Shop Details</h3>
                </div>
            </div>
            <div class="section group">
                <div class="cont-desc span_1_of_2">
                    <div class="product-details">				
                        <div class="grid images_3_of_2">
                            <img src="images/shops/cargills.jpg" alt="" />
                        </div>


                        <div class="desc span_3_of_2">
                            <h2>Cargills Food City - Nawala</h2>
                            <div id="demo5" class="demo">
                            </div>
                            <script type="text/javascript">
                                $('#demo5').rater('ratingsdemo.php', {style: 'basic', curvalue:2});
                            </script>

                            <p>We are the Nawala branch of the famous Cargills Food City shopping chain. You can buy any grocery item to the lowest price from us. This week we have a special promotion for items from uniliver products.Cargills foodcity - on your way home</p>					

                            <div class="available">
                                <ul>
                                    <li><span>Branch :</span> &nbsp; Nawala</li>
                                    <li><span>Hot Line :</span>&nbsp; 011 7567563</li>
                                    <li><span>Contact :</span>&nbsp; info@cargillsfoodcity.com</li>
                                </ul>
                            </div>

                        </div>
                        <div class="clear"></div>
                    </div>

                </div>



            </div>

            <div class="content_top">
                <div class="heading">
                    <h3>Iteam</h3>
                </div>
            </div>
            <!-- data bind part -->
            <!-- <div class="categoryBlock" data-bind="foreach:categories" onchange="loadItems()">                        
                        <div  class = "categoryBox">    
                            <img data-bind=" attr:{src: image} , click: loadItems"/>
                            <span class="boxtext" data-bind="text: name"></span>
                        </div>
    </div> -->
            <div class="categoryBlock" >                        
                <div  class = "categoryBox">    
                    <img src="images/items/BellPepper.png" />

                </div>
                <div  class = "categoryBox">    
                    <img src="images/items/Avocado.png" />

                </div>
                <div  class = "categoryBox">    
                    <img src="images/items/leeks.png" />

                </div>
                <div  class = "categoryBox">    
                    <img src="images/items/Parsley.png" />

                </div>
                <div  class = "categoryBox">    
                    <img src="images/items/Cauliflower.png" />

                </div>
                


            </div>		






        </div>
    </div>
</div>
</body>
</html>

