
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"> 
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/> 
        <link rel="stylesheet" href="css/jquery.mobile-1.0b2.min.css" />
        <link rel="stylesheet" href="css/ShopingUI.css" />
        
        <script type="text/javascript" src="js/jquery-1.6.2.min.js"></script>
        <script type="text/javascript" src="js/jquery.mobile-1.0b2.min.js"></script>
        <script type="text/javascript" charset="utf-8" src="js/cordova.js"></script>
        <script type='text/javascript' src='js/knockoutjs.js'></script>
        
    </head> 
    <body> 
        
        
        <div data-role="page" data-theme="b">
            <div data-role="header" data-theme="b" data-icon="home" id = "header">
                    <h1>Shopping List</h1>
            </div>

            <div class="resultDisplay">
            <div data-role="content" data-theme="b" id="topics">

                    <div data-bind="foreach: selecteditems" >

  
                                    <span data-bind="text: itemName">Carrot</span>

                    <!-- <td data-bind="text: Name">Carrot</td> -->
                            <span data-bind="text: amount">50 </span>kg
                            <img src='images/remove.png' />
                        <br/>
                    </div>

            </div>
            </div>
        </div>
        
        
        <script type="text/javascript">
            
                            /**
                             * Written by Himesh Karunaratne
                             *
                             * This code is to implement a simple knockoutjs structure inside a web page
                             * Mainly there are 4 parts
                             *  1) Create the model
                             *  2) Declare the gobal variables.
                             *  3) Declare the other javascript functions to be used indide
                             *  4) Run the initial code at startup. ie - apply bindings
                             **/


                            /**
                             *  PART 1 - Create the model
                             **/
                            var editorModel = function() {
                                var self = this;
                                self.selecteditems = ko.observableArray([]);
                              
                            }
            
            /**
             *  PART 2 - Declare the variables
             **/
            var bindings = 0;
            var modal = new editorModel();

            /**
             *  PART 3 - Declare the functions
             **/
            function load(){
                
                if (bindings < 1) {
                    // Load and parse the JSON
                    var someJSON = localStorage.getItem('shopinglist');/* Omitted: fetch it from the server however you want */;
                    var parsed = JSON.parse(someJSON);
                    modal.selecteditems(parsed)
                    console.log(ko.toJSON(modal));
                    bindings++;
                    ko.applyBindings(modal);
                    console.log("aaaaaa");
                }
           }
            
            /**
             *  PART 4 - Run the initial functions. With asyncronous jilmart
             **/
            var millisecondsToWait = 50;
            setTimeout(function() {
                load();
            }, millisecondsToWait);

        </script>
    </body>
</html>