<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<head>
<title>Home</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">



      
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<meta name="keywords" content="Stream Videos Iphone web template, Andriod web template, Smartphone web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>



<link rel="stylesheet" href="css/ShopingUI.css" />
<script type='text/javascript' src='js/knockoutjs.js'></script>
<link rel="stylesheet" href="css/jquery.mobile-1.4.0.min.css" />
  <script type="text/javascript" src="js/jquery-1.9.0.min.js"></script> 
<script type="text/javascript" src="js/jquery.mobile-1.4.0.min.js"></script> 
<script src="js/init.js"></script>

<script src="js/thameScripts.js"></script>

</head>
<body>
    
    <div data-role="page"  class="pagecontent" id="main">    
        
        
<!-- DRY principal is :o -->        
        
        <div data-role="content">
            <div class="header" >
		 <div class="headertop_desc">
                    <div class="wrap">
                        <div class="account_desc">
                                <ul>
                                        <li><a href="home.html" rel="external">Home</a></li>
                                        <li><a href="signup.html" rel="external">Register</a></li>
                                        <li><a href="login.html">Login</a></li>
                                        <li><a href="#">My Account</a></li>
                                        <li><a href="#">Contact</a></li>
                                </ul>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="wrap">
                    <div class="header_top">
                        <div class="logo">
                            <a href="index.html"><img src="images/logo.png" alt="" /></a>
                        </div>
                        <div class="header_top_right">
                            <div class="cart">
                                <div id="dd" class="wrapper-dropdown-3">
                                    <a href="#showlist">
                                    <img src="images/cart.png" alt="" />
                                    </a>
                                </div>
                            </div>		
                            
                            <a href="AddList.html" class="right_bt" id="activator"><img src="images/search_icon.png" alt="" /></a>
                            <div class="clear"></div>
                        </div>

                        <div class="clear"></div>
                    </div>     
                <div class="header_bottom">
                    <div class="header_bottom_left">				
                        <div class="categories">
                            <div class="menu_container">
                                <p class="menu_head">categories<span class="plusminus">+</span></p>
                                <div class="menu_body">
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">All</a></li>
                                            <li><a href="#">Vegitable</a></li>
                                            <li><a href="#">Fruit</a></li>
                                            <li><a href="#">English</a></li>

                                        </ul>
                                    </div>	
                                </div>								
                            </div>
                        </div>					
                    </div>
                    
                    <div class="header_bottom_right">					 
                            <!------ Slider ------------>
                                <!------End Slider ------------>
                    </div>
                    <div class="clear"></div>
                </div>
                    <!-- Category slideer-->
                <div class="clear"></div>
            </div>
        </div>

   <!------------End Header ------------>
            <div class="main">
                <div class="wrap">
                    <div class="content">
                        <div class="content_top">
                                <div class="heading">
                                <h3>Items</h3>
                                </div>
                        </div>

                        <ul data-role="listview" data-inset="true" data-split-theme="d" data-bind="foreach: Shoplist">
                            <li data-role="divider"></li> 
                            <li>
                                <a href="#popup" data-bind="click: $parent.viewShopDetails" >
                                    <img data-bind=" attr:{src: shopimageUrl}" />
                                    <h2 data-bind="text: shopName"></h2>
                                    <p data-bind="text: shopAddress"></p> 
                                </a>
                                <a href="popup.html"  data-bind="click: $parent.save" rel="external"></a>
                            </li>
                        </ul>
        
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    
    <!-- view results shop popup -->
    
      <div data-role="page"  class="pagecontent" id="popup">    
        
        
<!-- DRY principal is :o -->        
        
        <div data-role="content">
            <div class="header" >
		 <div class="headertop_desc">
                    <div class="wrap">
                        <div class="account_desc">
                                <ul>
                                        <li><a href="home.html" rel="external">Home</a></li>
                                        <li><a href="signup.html" rel="external">Register</a></li>
                                        <li><a href="login.html">Login</a></li>
                                        <li><a href="#">My Account</a></li>
                                        <li><a href="#">Contact</a></li>
                                </ul>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="wrap">
                    <div class="header_top">
                        <div class="logo">
                            <a href="index.html"><img src="images/logo.png" alt="" /></a>
                        </div>
                        <div class="header_top_right">
                            <div class="cart">
                                <div id="dd" class="wrapper-dropdown-3">
                                    <a href="#showlist">
                                    <img src="images/cart.png" alt="" />
                                    </a>
                                </div>
                            </div>		
                            
                            <a href="AddList.html" class="right_bt" id="activator"><img src="images/search_icon.png" alt="" /></a>
                            <div class="clear"></div>
                        </div>

                        <div class="clear"></div>
                    </div>     
                    <!-- Category slideer-->
                <div class="clear"></div>
            </div>
        </div>

   <!-- End Header -->

                <!-- starting to add thame -->
                
                
   	 <div class="wrap">
            <div class="section group">
                <div class="cont-desc span_1_of_2">
                    <div class="product-details">				
                        <div class="grid images_3_of_2">
                            <img data-bind=" attr:{src: selectedShop.Image}" alt="" />
                        </div>
                    <div class="desc span_3_of_2">
                        <h2 data-bind="text: selectedShop.Title"> </h2>
                    <div class="available">
                        <div class="price">
                            <p data-bind="text: selectedShop.Address" ></p>
                        </div>					
                    </div>

                            <table class="resultTable">
                            <tbody data-bind="foreach: selectedShop.Items" >
                             <tr>
                                 <td data-bind="text: Name">Carrot</td>
                                 <td><span data-bind="text:amount"></span><span data-bind="text:Unit"></span></td>
                                 <td>Rs<span data-bind="text:Price"></span>/<span data-bind="text:Unit"></span></td>
                             </tr>
                            </tbody>
                            </table>    
                            <div class="price">
                                <p> Total: <span data-bind="text: selectedShop.total"></span> </p>
                            </div>    
                        <div class="button"><span><a href="#main">Back</a></span></div>					
					
                    </div>
                    <div class="clear"></div>
                    </div>
                </div>								 
            </div>
        </div>
                <!-- End added part of thame-->
                
            </div>
   
        </div>

    
    
   <!-- Scripts -->
    
    

        <script type="text/javascript">

            /**
             *  PART 1 - Create the model
             **/
            var editorModel = function() {
                var self = this;
                self.Shoplist = ko.observableArray();
                self.selectedShop=new Shop('abc','def','ghi');
                
                
                self.viewShopDetails = function(saveShop){
              //      localStorage.setItem('viewResult', ko.toJSON(saveShop));
                    alert(ko.toJSON(saveShop));
                    self.selectedShop.Title(saveShop.shopName);
                    self.selectedShop.Address(saveShop.shopAddress);
                    self.selectedShop.Image(saveShop.shopimageUrl);
                    self.selectedShop.Items([]);

                    var index=0;

                    for (index = 0; index < saveShop.itempriceList.length; ++index) {
                       var myItem = new Item(saveShop.itempriceList[index].itemName,saveShop.itempriceList[index].price,saveShop.itempriceList[index].itemUnit);
                       myItem.amount =saveShop.itempriceList[index].amount;
                       self.selectedShop.Items.push(myItem);
                    }
                    
                    return true;
                } 

            }

            function Shop(name, address,image) {
                var seg = this;
                seg.Title = ko.observable(name);
                seg.Address = ko.observable(address);
                seg.Image=ko.observable(image);
                seg.Items = ko.observableArray();

                seg.total = ko.computed(function() {
                    tot = 0;
                    for (i = 0; i < seg.Items().length; i++) {
                        tot = tot + seg.Items()[i].Price* seg.Items()[i].amount;
                    }
                    tot= "Rs "+ tot+"/="
                    return tot;
                });

                return this;
            }
            function Item(name, price,unit) {
                var sel = this;
                sel.Name = name;
                sel.Price = price;
                sel.amount = 1;
                sel.Unit = unit;
                return this;
            }



            /**
             *  PART 2 - Declare the variables
             **/
            var bindings = 0;
            var modal = new editorModel();



            /**
             *  PART 3 - Declare the functions
             **/

            function load() {
                if (bindings < 1) {
                    bindings++;
                    ko.applyBindings(modal);
                    readJSON();
                }
            }

            function readJSON() {
                // $.get("http://localhost/motorolatmp/ajx.html", {}, function(data) {
                // data ='[{"Title":"Shan Shop","Address":"No 2A, Ratnapura  / Tel -(0777 9745363)","Items":[{"Name":"Rice","Price":458},{"Name":"Rice","Price":48}]}   , {"Title":"Malitha Shop","Address":"No 2A, Ratnapura  / Tel -(0777 9745363)","Items":[{"Name":"Rice","Price":458},{"Name":"Rice","Price":48}]} ]';
                data = localStorage.getItem('result');
                //console.log(data);
                var parsed = eval("(" + data + ")");
                modal.Shoplist(parsed);
                
                
                /*
                for (var i = 0; i < parsed.length; i++) {
                    //console.log(i);
                    var myShop = new Shop();

                    myShop.Title(parsed[i].shopName);
                    myShop.Address(parsed[i].shopAddress);
                    myShop.Image(parsed[i].shopimageurl);
                    myShop.Items([]);

                    for (var j = 0; j < parsed[i].itempriceList.length; j++) {

                        var itm = new Item();


                        itm.Name(parsed[i].itempriceList[j].itemName);

                        itm.Price(parsed[i].itempriceList[j].price);

                        myShop.Items.push(itm);


                    }

                    modal.Shoplist.push(myShop);

                } */
        
                // });
            }
            ;


            /**
             *  PART 4 - Run the initial functions. With asyncronous jilmart
             **/
            var millisecondsToWait = 500;
            setTimeout(function() {
                load();
            }, millisecondsToWait);

        </script>
    </body>

</html>
