<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
        <link rel="stylesheet" href="css/jquery.mobile-1.0b2.min.css" />
        <script type="text/javascript" src="js/jquery-1.6.2.min.js"></script>
        <script type="text/javascript" src="js/jquery.mobile-1.0b2.min.js"></script>
        <script type="text/javascript" charset="utf-8" src="js/cordova.js"></script>
        <script type='text/javascript' src='js/knockoutjs.js'></script>
        <script type="text/javascript" charset="utf-8" src="js/msslogin.js"></script> 
        <link rel="stylesheet" href="css/ShopingUI.css" />
    </head>
    <body>
        <div data-role="Search" data-theme="b">
            <div data-role="header" data-theme="b" data-icon="home">
                <h1>Result</h1><a data-theme="b" href="home.html" data-icon="home" data-role="button" rel="internal" data-iconpos="notext"></a>
                <a href="login.html" data-role="button" class="ui-btn-right" >Login</a>
            </div>




        </div>

        <div data-role="content">

            
           
            <ul data-role="listview" data-inset="true" data-split-theme="d" data-bind="foreach: Shoplist">
                <li data-role="divider"></li> 
                <li>
                    <a href="#">
                        <img src="1.jpg">
                        <h2 data-bind="text: Title"></h2>
                        <p data-bind="text: Address"></p> 
                        <table>
                            <thead>
                                <tr>
                                    <th>Item</th>
                                    <th>Price</th>


                                </tr>
                            </thead>
                            <tbody data-bind="foreach: Items" >
                                <tr>
                                    <td ><p data-bind="text: Name">Rice</p></td>
                                    <td ><p data-bind="text: Price">Rs 55</p> </td>

                                </tr>  

                            </tbody>
                        </table>
                        <p>-------------------------------------------------------</p>
                        <p data-bind="text:total">Total  Rs.500</p>
                    </a>
                    <a href="popup.html" data-rel="dialog" data-transition="pop">Download Browser</a>
                    <a href=#purchase  data-rel="dialog" data-position-to="window" data-transition="pop">Download Browser</a>
