<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head>
        <link rel="stylesheet" href="css/jquery.mobile-1.0b2.min.css" />
        <script type="text/javascript" src="js/jquery-1.6.2.min.js"></script>
        <script type="text/javascript" src="js/jquery.mobile-1.0b2.min.js"></script>
        <script type="text/javascript" charset="utf-8" src="js/cordova.js"></script>
        <script type='text/javascript' src='js/knockoutjs.js'></script>
        <script type="text/javascript" charset="utf-8" src="js/msslogin.js"></script> 
</head> 


<body> 

<div data-role="page" data-theme="b">

        <div data-role="header" data-theme="b" data-icon="home">
                <h1>Update Shop</h1><a data-theme="b" href="home.html" data-icon="home" data-role="button" rel="internal" data-iconpos="notext"></a>
				<a href="login.html" data-role="button" class="ui-btn-right" >Login</a>
        </div><!-- /header -->

        
        <div data-role="content" data-theme="b">        
<!--Content start-->
                  
<br/>
<br/>                
                <!--Login form start-->
                <form id="login"  method="post" data-ajax="false">

                        <div data-role="fieldcontain" class="ui-field-contain ui-body ui-br">
                 <label for="name" class="ui-input-text">Shop Name</label>
                 <input type="text" value="" id="name" name="name" class="ui-input-text ui-body-null ui-corner-all ui-shadow-inset ui-body-c">
                        </div>
                        
                        <div data-role="fieldcontain" class="ui-field-contain ui-body ui-br">
                 <label for="name" class="ui-input-text">Shop Addrss</label>
                 <input type="text" value="" id="name" name="name" class="ui-input-text ui-body-null ui-corner-all ui-shadow-inset ui-body-c">
                        </div>
						
						<div data-role="fieldcontain" class="ui-field-contain ui-body ui-br">
                 <label for="name" class="ui-input-text">Nearest Town</label>
                 <input type="text" value="" id="name" name="name" class="ui-input-text ui-body-null ui-corner-all ui-shadow-inset ui-body-c">
                        </div>
						<div class="ui-block-b"><button data-theme="b" type="reset" class="ui-btn-hidden" aria-disabled="false">Get Location Via GPS</button></div>
                        
                <fieldset class="ui-grid-a">
								<br /><br />
                                
                                <div class="ui-block-b"><button data-theme="b" type="reset" class="ui-btn-hidden" aria-disabled="false">Add</button></div>

            </fieldset>
                
        </form>
<!-- /Login form end-->

<br /><br />
                

<!--Content end-->

</div><!-- /page -->

        


</body>
</html>